# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
__pycache__

# Docker
.dockerignore
.dockerfile

# Enviroment variables
.env
.env.example

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Alumnos uploads
backend/static/uploads/alumnos/*
!backend/static/uploads/alumnos/default.png

# Frontend Images
frontend/app/public/images/*
!frontend/app/public/images/default.png
frontend/app/public/icon-512.png
